*.swp
*~
*.iml
.*.haste_cache.*
.DS_Store
.idea
.gitignore
.babelrc
.eslintrc.js
.eslintignore
.prettierignore
.prettierrc
.travis.yml
rollup.config.js
tsconfig.json
npm-debug.log
yarn-error.log
yarn.lock